<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Amateur Gamer Series{% endblock %}</title> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dist/output.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animations/animations.css') }}"/>
  </head>
    <body class="text-eleventh-blue font-LemonMilk bg-eleventh-grey">
      <div class="p-5 grid md:grid-cols-10"><!--Content wrapper-->
        <div class="relative md:col-span-1"><!--Navigation bar and links-->
          <nav>
            <div class="flex">
              <img src="../static/placeholder.png" alt="" class="h-20 w-20 lg:h-40 lg:w-40">
              <h1 class="self-center text-xl uppercase px-2 lg:my-0">Amatuer Gamer Series</h1><!-- Not final -->
            </div>
              
            <ul class="py-2">
              <li class="md:hidden">
                <a href="javascript:void(0);" onclick="mainNavDropdown()"><img src="../static/dropdownBG.png" alt=""></a>
              </li>
            </ul>

            <ul class="hidden text-xl py-2 md:text-lg md:list-item" id="mainNav">                   
              <li class="navButtons">
                <a href="/"><span class="ml-6">Home</span></a>
              </li>
  
              <li class="navButtons">
                <a href="/media"><span class="ml-6">Media</span></a><!--Youtube, twitch and social links-->
              </li>
  
              <li class="navButtons">
                <a href="/circuitrules"><span class="ml-6">Rules</span></a>
              </li>
  
              <li class="navButtons">
                <span class="ml-6">Search</span><!--Search through ongoing tournaments to find a specific team or players page-->
              </li>
  
              <li class="navButtons">
                <a href="/learnmore"><span class="ml-6 md:text-base">Learn More</span></a><!--(For future use-) "Made by your community, for your community!"-->
              </li>
            </ul>
          </nav>
        </div><!--End navigation-->

        <main class="px-16 py-6 md:col-span-9">
          {% if user.is_authenticated %}
            <div class="flex justify-center items-center md:justify-end" id="buttons"><!-- Log in/Sign up buttons -->
              <a href="javascript:void(0);" onclick="userNavDropdown()"><img src="../static/placeholder.png" alt="" class="rounded-lg border-4 border-eleventh-blue h-20 w-20"></a><!-- User's profile picture here -->
            </div>
            <div class="flex justify-center items-center md:justify-end ">
              <ul class="hidden" id="userNav">
                <li class="userNav">
                  <a href="/profile"><span class="mr-6">Profile</span></a>
                </li>
                <li class="userNav">
                  <a href="/teams"><span class="mr-6">Teams</span></a>
                </li>
                <li class="userNav">
                  <a href="/match"><span class="mr-6">Match</span></a>
                </li>
                <li class="userNav">
                  <a href="/bracket"><span class="mr-6">Bracket</span></a>
                </li>
                <li class="userNav">
                  <a href="/logout"><span class="mr-6">Log Out</span></a>
                </li>
              </ul>
            </div>
          {% else %}
            <div class="flex justify-center items-center md:justify-end" id="buttons"><!-- Log in/Sign up buttons -->
              <a class="button" id="signUp" href="/signup">Sign Up</a>
              <a class="button w-24" id="signUp" href="/login">Log In</a>
            </div>
          {% endif %}
        
  
        {% with messages = get_flashed_messages(with_categories=true) %} 
        {% if messages %} 
        {% for category, message in messages %} 
        {% if category == 'error' %}
          <div class="grid gap-8 lg:grid-cols-10 justify-items-center">
            <div class="lg:col-span-8">
              <div class="error" role="alert">
                {{ message }}
                <span class="text-3xl px-5" aria-hidden="true" onclick="this.parentElement.style.display='none';">&times;</span>
              </div>
            </div>
          </div>
        {% else %}
          <div class="grid gap-8 lg:grid-cols-10 justify-items-center">
            <div class="lg:col-span-8">
              <div class="success" role="alert">
                {{ message }}
                <span class="text-3xl px-5" aria-hidden="true" onclick="this.parentElement.style.display='none';">&times;</span>
              </div>
            </div>
          </div>
        {% endif %} 
        {% endfor %} 
        {% endif %} 
        {% endwith %}

        {% block content %}<!-- Main content render inside this block -->
          
        {% endblock %}
      </main>
    </div>

  <script>
    function mainNavDropdown() {
      var mainNav = document.getElementById("mainNav");
      var buttons = document.getElementById("buttons");
      if (mainNav.className === "hidden text-xl py-2 md:text-lg md:list-item") {
        mainNav.classList.remove("hidden");
        mainNav.classList.add("slide-in-left");
        buttons.classList.add("slide-out-right");
      } else if (mainNav.className === "text-xl py-2 md:text-lg md:list-item slide-in-left"){
        mainNav.classList.remove("slide-in-left");
        mainNav.classList.add("slide-out-left");
        buttons.classList.remove("slide-out-right");
        buttons.classList.add("slide-in-right");
      } else if (mainNav.className === "text-xl py-2 md:text-lg md:list-item slide-out-left"){
        mainNav.classList.remove("slide-out-left");
        mainNav.classList.add("slide-in-left");
        buttons.classList.remove("slide-in-right");
        buttons.classList.add("slide-out-right");
      }
    }

    function userNavDropdown() {
      var userNav = document.getElementById("userNav");
        if (userNav.className === "hidden") {
          userNav.classList.remove("hidden");
          userNav.classList.add("slide-in-right");
        } else if (userNav.className === "slide-in-right") {
          userNav.classList.remove("slide-in-right");
          userNav.classList.add("slide-out-right");         
        } else if (userNav.className === "slide-out-right") {
          userNav.classList.remove("slide-out-right");
          userNav.classList.add("slide-in-right");
      }
    }
  </script>
</body>
</html>