<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Amateur Gamer Series{% endblock %}</title> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
  </head>
    <body class="text-eleventh-blue font-LemonMilk bg-eleventh-grey">
      <div class="p-5 grid md:grid-cols-10"><!--Content wrapper-->
        <div class="relative md:col-span-1"><!--Navigation bar and links-->
          <nav>
            <div class="flex">
              <img src="../static/placeholder.png" alt="" class="h-20 w-20 lg:h-40 lg:w-40">
              <h1 class="self-center text-xl uppercase px-2 lg:my-0">Amatuer Gamer Series</h1><!-- Not final -->
            </div>
              
            <ul class="py-2">
              <li class="md:hidden">
                <a href="javascript:void(0);" style="font-size:25px;" onclick="openDropdown()"><img src="../static/dropdownBG.png" alt=""></a>
              </li>
            </ul>

            <ul class="hidden text-xl py-2 md:text-lg md:list-item" id="nav">                   
              <li class="navButtons bg-[url('../static/linkBG.png')]">
                <a href="index.html"><span class="ml-6">Home</span></a>
              </li>
  
              <li class="navButtons bg-[url('../static/linkBG.png')]">
                <a href="media.html"><span class="ml-6">Media</span></a><!--Youtube, twitch and social links-->
              </li>
  
              <li class="navButtons bg-[url('../static/linkBG.png')]">
                <a href="circuitrules.html"><span class="ml-6">Rules</span></a>
              </li>
  
              <li class="navButtons bg-[url('../static/linkBG.png')]">
                <span class="ml-6">Search</span><!--Search through ongoing tournaments to find a specific team or players page-->
              </li>
  
              <li class="navButtons bg-[url('../static/linkBG.png')]">
                <a href="learnmore.html"><span class="ml-6 md:text-base">Learn More</span></a><!--(For future use-) "Made by your community, for your community!"-->
              </li>
            </ul>
          </nav>
        </div><!--End navigation-->

      <main class="px-16 py-6 md:col-span-9">
        <div class="flex justify-center md:justify-end" id="buttons"><!-- Log in/Sign up buttons -->
          {% if user.is_authenticated %}
          <a href="login.html" class="w-24 h-8 button bg-contain bg-no-repeat bg-[url('../static/buttonBG.png')]">Log Out</a>
          {% else %}
          <a class="nav-item nav-link bg-contain bg-no-repeat bg-[url('../media/buttonBG.png')]" id="login" href="login.html">Login</a>
          <a class="nav-item nav-link bg-contain bg-no-repeat bg-[url('../media/buttonBG.png')]" id="signUp" href="signup.html">Sign Up</a>
          {% endif %}
        </div>
  
        {% with messages = get_flashed_messages(with_categories=true) %} 
        {% if messages %} 
        {% for category, message in messages %} 
        {% if category == 'error' %}
        <div class="" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
        </button>
        </div>
        {% else %}
        <div class="alert alert-success alter-dismissable fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
        </button>
        </div>
        {% endif %} 
        {% endfor %} 
        {% endif %} 
        {% endwith %}

        <div class="grid gap-8 lg:grid-cols-10 justify-items-center lg:text-xl lg:py-36 xl:text-2xl 2xl:text-4xl"><!-- Main content goes inside this div -->
          {% block mainContent %} 
          
          {% endblock %}
        </div>

  <script>
  function openDropdown() {
  var nav = document.getElementById("nav");
  var buttons = document.getElementById("buttons");
  if (nav.className === "hidden text-xl py-2 md:text-lg md:list-item") {
  nav.className -= "list-item text-xl py-2 md:text-lg md:list-item";
  buttons.classList.add("hidden")
  } else {
  nav.className = "hidden text-xl py-2 md:text-lg md:list-item";
  buttons.classList.remove("hidden")
  }
  }
  </script>
  </body>
</html>