{% extends "base.html" %} {% block title %} The Underground Creator Cup {% endblock %} {% block content %}
<div class="grid gap-8 lg:grid-cols-10 justify-items-center lg:text-xl lg:py-36 xl:text-2xl 2xl:text-4x">
  <!-- <h1 class="lg:col-span-10 lg:items-center lg:text-6xl">The Underground Creator Cup</h1> -->
</div>

<div class="grid gap-8 lg:grid-cols-10 justify-items-center lg:text-xl lg:py-36 xl:text-2xl 2xl:text-4x">
  <img src="../static/Bracket-overlay.png" class="overlay">
</div>

<div class="bracket">
  <section class="round quarterfinals">
    <div class="winners">
      <div class="matchups">
        <div class="matchup">
          <div class="participants">
            <div class="participant orange"><span>{{ results[0][2] }}</span></div>
            <div class="participant blue"><span>{{ results[7][2] }}</span></div>
          </div>
        </div>
        <div class="matchup">
          <div class="participants">
            <div class="participant orange"><span>{{ results[3][2] }}</span></div>
            <div class="participant blue"><span>{{ results[4][2] }}</span></div>
          </div>
        </div>
      </div>
      <div class="connector">
        <div class="merger"></div>
        <div class="line"></div>
      </div>
    </div>
    <div class="winners">
      <div class="matchups">
        <div class="matchup">
          <div class="participants">
            <div class="participant orange"><span>{{ results[2][2] }}</span></div>
            <div class="participant blue"><span>{{ results[5][2] }}</span></div>
          </div>
        </div>
        <div class="matchup">
          <div class="participants">
            <div class="participant orange"><span>{{ results[6][2] }}</span></div>
            <div class="participant blue"><span>{{ results[1][2] }}</span></div>
          </div>
        </div>
      </div>
      <div class="connector">
        <div class="merger"></div>
        <div class="line"></div>
      </div>
    </div>
  </section>
  <section class="round semifinals">
    <div class="winners">
      <div class="matchups">
        <div class="matchup">
          <div class="participants">
            <div class="participant orange"><span>{{ results[8][2] }}</span></div>
            <div class="participant blue"><span>{{ results[11][2] }}</span></div>
          </div>
        </div>
        <div class="matchup">
          <div class="participants">
            <div class="participant orange"><span>{{ results[10][2] }}</span></div>
            <div class="participant blue"><span>{{ results[9][2] }}</span></div>
          </div>
        </div>
      </div>
      <div class="connector">
        <div class="merger"></div>
        <div class="line"></div>
      </div>
    </div>
  </section>
  <section class="round finals">
    <div class="winners">
      <div class="matchups">
        <div class="matchup">
          <div class="participants">
            <div class="participant orange"><span>{{ results[12][2] }}</span></div>
            <div class="participant blue"><span>{{ results[13][2] }}</span></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="round finals">
      <div class="winners">
          <div class="connector">
              <div class="merger"></div>
              <div class="line"></div>
          </div>
          <div class="matchups">
            <div class="matchup">
              <div class="participants">
                <div class="participant orange"><span>{{ results[14][2] }}</span></div>
              </div>
            </div>
          </div>
  </section>
</div>
  {% endblock %}