{% extends "base.html" %} {% block title %} The Underground Creator Cup {% endblock %} {% block content %}
<div class="grid gap-8 lg:grid-cols-9 justify-items-center lg:text-xl lg:py-64 xl:text-2xl 2xl:text-4x">
  <img src="../static/assets/images/Bracket-overlay.png" class="overlay">
</div>

<div class="bracket">
  <section class="round quarterfinals">
    <div class="winners">
      <div class="matchups">
        <div class="matchup">
          <div class="participants">
            <div class="participant orange"><span>#1 {{ results[0][2] }}</span></div>
            <div class="participant blue"><span>BYE</span></div>
          </div>
        </div>
        <div class="matchup">
          <div class="participants">
            <div class="participant orange"><span>#4 {{ results[3][2] }}</span></div>
            <div class="participant blue"><span>#5 {{ results[4][2] }}</span></div>
          </div>
        </div>
      </div>
      <div class="connector">
        <div class="merger"></div>
        <div class="line"></div>
      </div>
    </div>
    <div class="winners">
      <div class="matchups">
        <div class="matchup">
          <div class="participants">
            <div class="participant orange"><span>#3 {{ results[2][2] }}</span></div>
            <div class="participant blue"><span>#6 {{ results[5][2] }}</span></div>
          </div>
        </div>
        <div class="matchup">
          <div class="participants">
            <div class="participant orange"><span>BYE</span></div>
            <div class="participant blue"><span>#2 {{ results[1][2] }}</span></div>
          </div>
        </div>
      </div>
      <div class="connector">
        <div class="merger"></div>
        <div class="line"></div>
      </div>
    </div>
  </section>
  <section class="round semifinals">
    <div class="winners">
      <div class="matchups">
        <div class="matchup">
          <div class="participants">
            <div class="participant orange"><span>{{ results[0][2] }}</span></div>
            <div class="participant blue"><span>{{ results[11][2] }}</span></div>
          </div>
        </div>
        <div class="matchup">
          <div class="participants">
            <div class="participant orange"><span>{{ results[10][2] }}</span></div>
            <div class="participant blue"><span>{{ results[1][2] }}</span></div>
          </div>
        </div>
      </div>
      <div class="connector">
        <div class="merger"></div>
        <div class="line"></div>
      </div>
    </div>
  </section>
  <section class="round finals">
    <div class="winners">
      <div class="matchups">
        <div class="matchup">
          <div class="participants">
            <div class="participant orange"><span>{{ results[12][2] }}</span></div>
            <div class="participant blue"><span>{{ results[13][2] }}</span></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="round finals">
      <div class="winners">
          <div class="connector">
              <div class="merger"></div>
              <div class="line"></div>
          </div>
          <div class="matchups">
            <div class="matchup">
              <div class="participants">
                <div class="participant orange"><span>{{ results[14][2] }}</span></div>
              </div>
            </div>
          </div>
  </section>
</div>
  {% endblock %}