{% extends "base.html" %} {% block title %}Create Team{% endblock %} {% block content %}
<div class="grid gap-8 lg:grid-cols-9 justify-items-center lg:text-xl lg:py-36 xl:text-2xl 2xl:text-4xl"><!-- Main content goes inside this div -->
    <form class="lg:col-span-8 py-5" method="POST">
        <h3 class="flex justify-center py-5">Create Team</h3>
        <div class="py-2">
        <label for="teamName">Team Name</label>
        <input
            class="select"
            type="text"
            id="teamName"
            name="teamName"
            placeholder="Enter Team Name"
            maxlength="16"
        />
        </div>
        <div class="py-2">
            <label for="region">Region</label>
            <select
                class="select"
                id="region"
                name="region">   
                    <option value="naE">NA East</option>
                    <option value="naW">NA West</option>
                    <option value="eu">Europe</option>
            </select>
        </div>
        <div class="py-2">
        <label for="userOneName">Teammates Underground Username</label>
        <input
            class="select"
            type="text"
            id="userOneName"
            name="userOneName"
            placeholder="Username"
        />
        </div>
        <div class="py-2">
        <label for="userOneId">Teammates Underground ID</label>
        <input
            class="select"
            type="number"
            id="userOneId"
            name="userOneId"
            min="1"
            placeholder="ID"
        />
        </div>
        <br />
        <div class="flex justify-center justify-items-center">
        <button type="submit" class="button">Create Team</button>
        </div>
    </form>
</div>
{% endblock %}