{% extends "base.html" %} {% block title %} Edit Team {% endblock %} {% block content %}
    <div class="grid gap-8 lg:grid-cols-9 justify-items-center lg:text-xl lg:py-36 xl:text-2xl 2xl:text-4x">
        <div class="lg:col-span-8">
            <form method="POST" action="/editTeam" enctype="multipart/form-data">
                <input type="hidden" name="team_id" value="{{ team_id }}"><!-- Pass args through form -->
                <div class="py-4">
                    <label for="imageConfirm" class="text-base">I understand that images containing NSFW content are not allowed and may result in a ban on my account. </label>
                    <input type="checkbox" name="imageConfirm" required>
                    <p class="text-base">Please visit the <a href="/faq">FAQ</a> page for more information about profile image restrictions.</p>
                </div>
                <div class="py-4">
                    <label for="team_logo">Team Logo</label>
                    <input type="file" name="team_logo" accept=".jpg, .jpeg, .png">
                </div>
                <div class="py-4">
                    <label for="team_banner">Team Banner</label>
                    <input type="file" name="team_banner" accept=".jpg, .jpeg, .png">
                </div>
                <div class="py-4 flex justify-center">
                    <button type="submit" class="button">Upload</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
