{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}
    <div class="text-3xl grid gap-8 lg:grid-cols-9 justify-items-center lg:text-xl xl:text-2xl 2xl:text-4xl">
        <div class="lg:col-span-8 justify-items-center">
            <h1 class="py-8 tracking-widest">Frequently Asked Questions</h1>
        </div>

        <div class="lg:col-span-8 justify-items-center">
            <button class="accordion">Overview</button>
            <div class="panel text-lg">
                <p>
                    <b>The Underground</b> was created to bring exciting and meaningful season based competitions, that only high end organizations currently have access to, to the everyday
                    ranked warriors. But what does that really look like? Well first you grab a teammate and make a team, this is completely free and all it requires is a <i>Rocket League</i>
                    account that has placed in ranked 2v2 (this is how we get your intial rank), and a <i>Discord</i> account (so you can communicate with your opponents to schedule your matches).
                </p>
                <p>
                    Once you create a team on our site it will be given a rank based off the rosters collective competetive ranks. This rank is specific to that team and you will be relegated or promoted
                    as a team based on your performances in Underground leagues. After that you head to your team page and join the queue, this is specific to your team rank/region, once the queue is full 
                    (8 teams) a league will be generated. A league consists of seven matches that must be played within an eight weeks, starting from the day the league is generated. We suggest starting 
                    from the top of your match list and working your way down but, to make the competition more flexible, it is up to you who and when you play. 
                </p>
                <p>
                    Scheduling is between you and your opponent, find a time that works for everyone and afterwards head back to the website to submit the scores. A league is complete after eight weeks OR
                    once all scores have been submitted. At this time a single elimination playoff bracket will be generated based off the standings from the season. Here you will be given another match
                    page and you repeat the same process before. 
                </p>
                <p>
                    Once the playoffs are complete or you have been eliminated from the competition you can join the queue and start again right away! The Underground is built to be automated so your not waiting
                    for arbitrary dates or for admin to generate matches or brackets for you. In fact there is nothing stopping an entire season from being completed in a day except schedule conflicts. If you would
                    like to have your own custom league through our site please reach out to Finalben7 on discord. 
                </p>
            </div>

            <button class="accordion">Smurfing Policy</button>
            <div class="panel text-lg ">
                <p>
                    Using smurf accounts makes the game a lot less fair and fun for the majority of the players. For this reason we will be implementing bans for anyone found to be using a smurf account on our website.
                    To avoid accidental bans we suggest using the account with the most hours or your highest rank achieved. If you suspect another user is smurfing please DM one of the founders on discord and we will look into it.
                    As we are all aware, this is a controversial subject and often tricky to tell so please refrain from submitting a complaint unless you have found some concrete evidence.
                </p>
            </div>

            <button class="accordion">Signing Up</button>
            <div class="panel text-lg">
                <p>
                    To create an account click on the <a href="/signup">Sign Up</a> button in the top right hand corner. Here you will be asked for the necessary information to create a unique account on our site.
                    The email address, username and discord provided must be unique and not already associated with an Underground account. As mention in the signup form your Underground username <b>MUST</b> match
                    the in game account you will be using during your Undergound matches. This is so that we can get an average of your teams rank and place your team with other teams of similiar rank.
                </p>
                <p>
                    Email: This will be used for account verification purposes and resetting your password in the event you forget it.
                </p>
                <p>
                    Discord: We have hopes to one day implement a feature that will allows you to communicate with your opponent on the match page but for now we will be using discord.
                </p>
            </div>

            <button class="accordion">Your Profile</button>
            <div class="panel text-lg">
                <p>
                    To get to your <a href="/profile">Profile</a> page you must be signed in, after that click on the image in the upper right hand corner of your browser and click profile. Here you can see the 
                    account information you entered when signing up and upload a profile picture if you want. The most important piece of information on this page is your id, this is your 
                    unique Underground id and will be used to create new teams.
                </p>
            </div>

            <button class="accordion">Creating A Team</button>
            <div class="panel text-lg">
                <p>
                    Click on the image in the upper right hand corner of your browser and click <a href="/teams">teams</a>. This will show you a list of all of your active teams if you have any. To create a new
                    team click the <a href="/createTeam">Create New Team</a> button. Here you will choose your team name, the region you wish to compete in and your teammate. Since creating 
                    a new team requires you to enter your teammates Underground username and id they will need to have created an account before you can create a new team. The user who creates the team will be 
                    the team captain and is the only one who can upload team banner and logos. This is done by clicking the edit team button, in the upper right hand corner of your team card, and uploading a 
                    team banner or logo.
                </p>
                <p>
                    <b>Note:</b> The Underground allows you to have multiple teams but you cannot be on multiple teams with the same teammates.
                </p>
            </div>

            <button class="accordion">Join Queue</button>
            <div class="panel text-lg">
                <p>
                    Once you have created a team head back to the <a href="/teams">teams</a> and you should see your new team displayed here. Next click the team page button and then click join queue and you will 
                    be entered into a queue specific to your <b>teams</b> rank/region. Once the queue is full (8/8) a matchup will be generated for each of the seven other teams in the queue. If you wish to be 
                    removed from the queue for any reason head back to the team page and click leave queue.
                </p>
            </div>

            <!-- <button class="accordion">Seasons</button>
            <div class="panel text-lg">
                <p></p>
            </div>

            <button class="accordion">Scheduling</button>
            <div class="panel text-lg">
                <p></p>
            </div>

            <button class="accordion">Match Details</button>
            <div class="panel text-lg">
                <p></p>
            </div>

            <button class="accordion">Score Submission</button>
            <div class="panel text-lg">
                <p></p>
            </div>

            <button class="accordion">Playoffs</button>
            <div class="panel text-lg">
                <p></p>
            </div>

            <button class="accordion">Forfeits</button>
            <div class="panel text-lg">
                <p></p>
            </div>

            <button class="accordion">Score Dispute</button>
            <div class="panel text-lg">
                <p></p>
            </div> -->

            <button class="accordion">Support</button>
            <div class="panel text-lg">
                <p>
                    If you have any issues or encounter bugs please visit the support channel in our discord.
                </p>
            </div>
        </div>
    </div>

    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
            panel.style.maxHeight = null;
            } else {
            panel.style.maxHeight = panel.scrollHeight + "px";
            } 
        });
    }
    </script>
{% endblock %}