{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}
<div class="text-3xl grid gap-8 lg:grid-cols-9 justify-items-center lg:text-xl xl:text-2xl 2xl:text-4xl">
    
    <div class="lg:col-span-8 justify-items-center">
        <h1 class="py-8 tracking-widest">Welcome To The Underground</h1>
    </div>
    
    <div class="lg:col-span-4">
        <iframe width="760" height="515" src="https://www.youtube.com/embed/XJOiPkFNkBE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

    <div class="grid content-center lg:col-span-4">
        <ul>
            <li>- Round robin seasons with playoffs</li>
            <li>- Team based ranks</li>
            <li>- 2v2</li>
            <li>- Free to play</li>
            <li>- Active community</li>
            <li>- Custom leagues available</li>
            <li>- Much more coming soon</li>
        </ul>
        <a href="https://discord.gg/3Ne3TjzGET" target="_blank"><button class="button mt-4">Join Our Discord!</button></a>
    </div>

    <div class="lg:col-span-4">
        <header>
            <h2 class="flex justify-center py-8">Fair and competetive format</h2>
        </header>
        <img src="../static/assets/images/bracket.png" alt=""><!--Image of playoff bracket with text on top displaying features-->
    </div>

    <div class="lg:col-span-4">
        <header>
            <h2 class="flex justify-center py-8">Seven weeks of competition</h2><!--Assuming we can pull this off-->
        </header>
        <img src="../static/assets/images/season.png" alt=""><!--Image of match page with message portal with text on top displaying features-->
    </div>
</div>
{% endblock %}