{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content %}
<div class="grid gap-8 lg:grid-cols-9 justify-items-center lg:text-xl lg:py-36 xl:text-2xl 2xl:text-4xl"><!-- Main content goes inside this div -->
    <form class="lg:col-span-8 py-5" method="POST">
        <h3 class="flex justify-center py-5">Log In</h3>
        <div class="py-2">
        <label for="email">Email Address</label>
        <input
            type="email"
            class="select"
            id="email"
            name="email"
            placeholder="Enter Email Address"
        />
        </div>
        <div class="py-2">
        <label for="password">Password</label>
        <input
            type="password"
            class="select"
            id="password"
            name="password"
            placeholder="Enter password"
        />
        </div>
        <br />
        <div class="flex justify-center justify-items-center">
        <button type="submit" class="button buttonBG">Log In</button>
        </div>
    </form>

    <div class="flex items-center text-center text-sm  lg:col-span-8">
        <p>Forgot your password?</p>
        <a href="/requestPasswordReset"><button class="button buttonBG ml-8">Reset</button></a>
    </div>
</div>
{% endblock %}