{% extends "base.html" %} {% block title %} {{ team0.teamName }} VS {{ team1.teamName }} {% endblock %} {% block content %}
<div class="py-6 text-3xl justify-items-center grid gap-8 lg:grid-cols-9 lg:text-xl xl:text-2xl 2xl:text-4x">            
    <div class="teams-card">
        <div class="flex pb-20">
            <h1>(W - L)</h1>
            <h1 class="pl-5">{{team0.teamName }}</h1>
        </div>

        <div class="flex justify-evenly">
            <img src="../static/assets/images/placeholder.png" alt="" class="profile-image">
            <img src="../static/assets/images/placeholder.png" alt="" class="profile-image">
            <img src="../static/assets/images/placeholder.png" alt="" class="profile-image">
        </div>
    </div>

    {% if hasWinner %}
    {% else %}
    <a href="/submitScore?current_league_id={{ current_league_id }}&current_team={{ team0.teamName }}&opponent_team={{ team1.teamName }}&series_id={{ series_id }}" class="lg:col-span-8 p-10"><button type="submit" class="w-26 h-8 button">Submit Score</button></a>
    {% endif %}

    <div class="teams-card">
        <div class="flex pb-20">
            <h1>(W - L)</h1>
            <h1 class="pl-5">{{team1.teamName }}</h1>
        </div>

        <div class="flex justify-evenly">
            <img src="../static/assets/images/placeholder.png" alt="" class="profile-image">
            <img src="../static/assets/images/placeholder.png" alt="" class="profile-image">
            <img src="../static/assets/images/placeholder.png" alt="" class="profile-image">
        </div>
    </div>
</div>
{% endblock %}