{% extends "base.html" %} {% block title %} {{ user.username }} {% endblock %} {% block content %}
<div class="grid gap-4 justify-items-center lg:grid-cols-9 lg:text-xl lg:py-36 xl:text-2xl 2xl:text-4xl lg:justify-items-center">
    <div class="py-5 relative text-center lg:col-span-8">
        <img src="../static/assets/images/bannerBG.png" alt="" class="w-full h-full">
        <h1 class="bannerUserName">{{ user.username }}</h1>
    </div>

    <div class="lg:col-span-8">
        <div class="flex">
            <h2 class="p-5">Username:</h2>
            <h3 class="p-5">{{ user.username }}</h3>
        </div>
        <div class="flex">
            <h2 class="p-5">Email:</h2>
            <h3 class="p-5">{{ user.email }}</h3>
        </div>
        <div class="flex">
            <h2 class="p-5">Region:</h2>
            <h3 class="p-5">{{ user.region }}</h3>
        </div>
        <div class="flex">
            <h2 class="p-5">Platform:</h2>
            <h3 class="p-5">{{ user.platform }}</h3>
        </div>
        <div class="flex">
            <h2 class="p-5">Rank:</h2>
            <h3 class="p-5">{{ user.rank }}</h3>
        </div>
        <div class="flex">
            <h2 class="p-5">ID:</h2>
            <h3 class="p-5">{{ user.id }}</h3>
        </div>
    </div>

    <div class="lg:col-span-8">
        <form method="POST" action="/profile" enctype="multipart/form-data">
            <label for="imageConfirm" class="text-base">I understand that images containing NSFW content are not allowed and may result in a ban on my account. </label>
            <input type="checkbox" name="imageConfirm" required>
            <br>
            <p class="text-base">Please visit the <a href="/faq">FAQ</a> page for more information about profile image restrictions.</p>
            <br>
            <input type="file" name="profile_image" accept=".jpg, .jpeg, .png" required>
            <button type="submit" class="button">Upload</button>
        </form>
    </div>

</div>
{% endblock %}