{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block content %}
<div class="grid gap-8 lg:grid-cols-9 justify-items-center lg:text-xl lg:py-36 xl:text-2xl 2xl:text-4xl"><!-- Main content goes inside this div -->
    <form class="lg:col-span-8 py-5 text-white" method="POST">
        <h3 class="flex justify-center py-5">Sign Up</h3>
        <div class="py-2">
        <label for="email">Email Address</label>
        <input
            type="email"
            class="select"
            id="email"
            name="email"
            placeholder="Enter email"
        />
        </div>
        <div class="py-2">
        <label for="username">Username</label>
        <input
            type="username"
            class="select"
            id="username"
            name="username"
            placeholder="Enter username"
        />
        </div>
        <div class="py-2">
        <label for="platform">Platform</label>
        <select
            type="platform"
            class="select"
            id="platform"
            name="platform">   
                <option value="steam">Steam</option>
                <option value="epic">Epic</option>
                <option value="xbox">Xbox</option>
                <option value="ps">Playstation</option>
        </select>
        </div>
        <div class="py-2">
            <label for="region">Region</label>
            <select
                type="region"
                class="select"
                id="region"
                name="region">   
                    <option value="naE">NA East</option>
                    <option value="naW">NA West</option>
                    <option value="eu">Europe</option>
            </select>
            </div>
        <div class="py-2">
        <label for="password1">Password</label>
        <input
            type="password"
            class="select"
            id="password1"
            name="password1"
            placeholder="Enter password"
        />
        </div>
        <div class="py-2">
        <label for="password2">Password (Confirm)</label>
        <input
            type="password"
            class="select"
            id="password2"
            name="password2"
            placeholder="Confirm password"
        />
        </div>
        <br />
        <div class="flex justify-center justify-items-center">
        <button type="submit" class="button">Submit</button>
        </div>
    </form>
</div>
{% endblock %}