{% extends "base.html" %}
{% block title %} {{ user.username }}'s Teams {% endblock %}
{% block content %}
    <div class="grid gap-8 lg:grid-cols-9 justify-items-center lg:text-xl lg:py-36 xl:text-2xl 2xl:text-4x">
        <h1 class="uppercase lg:col-span-8 lg:items-center p-5">{{ user.username }}'s Teams</h1>
        {% for team_id, team in teams.items() %}
            {% if team.team_banner %}
            <div class="teams-card" style="background-repeat: no-repeat; background-size: 100% 100%; background-image:url({{ url_for('static', filename='uploads/' + team.team_banner) }}) ;">
            {% else %}
            <div class="teams-card" style="background-repeat: no-repeat; background-size: 100% 100%; background-image:url(../static/assets/images/banner.jpg);">
            {% endif %}
                <div class="grid grid-cols-2 pb-20">
                    <div class="flex items-center">
                        {% if team.team_logo %}
                        <img src="{{ url_for('static', filename='uploads/' + team.team_logo) }}" alt="Team logo" class="profile-image">
                        {% else %}
                        <img src="../static/assets/images/placeholder.png" alt="Team logo" class="profile-image">
                        {% endif %}
                        <h1 class="pl-5 text-left lg:col-span-8">{{ team.team_name }}</h1>
                    </div>
                    <div class="text-end text-sm">
                        {% if user.id == team.team_captain %}
                        <a href="/editTeam?team_id={{ team_id }}">Edit Team</a>
                        {% endif %}
                    </div>
                </div>
                <div class="flex justify-evenly">
                    {% for user in team.users %}
                        <div class="flex flex-col items-center">
                            {% if user.profile_image %}
                            <img src="{{ url_for('static', filename='uploads/' + user.profile_image) }}" alt="Profile Image" class="profile-image">
                            {% else %}
                            <img src="../static/assets/images/placeholder.png" alt="Profile Image" class="profile-image">
                            {% endif %}
                            <h2 class="pt-5">{{ user.username }}</h2>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="flex w-full justify-evenly col-span-8">
                <a href="/team?team_id={{ team_id }}"><button type="submit" class="button">Team Page</button></a>
                <a href="/league?team_id={{ team_id }}"><button type="submit" class="button">League Page</button></a>
            </div>
        {% endfor %}
        <a href="/createTeam" class="lg:col-span-8"><button type="submit" class="button">Create New Team</button></a>
    </div>
{% endblock %}
