{% extends "base.html" %} {% block title %} {{ current_team.teamName }} {% endblock %} {% block content %}
    <div class="grid gap-8 relative lg:grid-cols-9 justify-items-center lg:text-xl xl:text-2xl 2xl:text-4x">
        {% if current_team.team_banner %}<!-- Check for team banner, render placeholder if none -->
        <img src="{{ url_for('static', filename='uploads/' + current_team.team_banner) }}" class="rounded-xl mb-5 w-full lg:col-span-8"/>
        {% else %}
        <img src="../static/assets/images/bannerBG.png" class="rounded-xl mb-5 w-full lg:col-span-8"/>
        {% endif %}
        {% if current_team.team_logo %}<!-- Check for team logo, render placeholder if none -->
        <img src="{{ url_for('static', filename='uploads/' + current_team.team_logo) }}" class="absolute top-8 left-8 rounded-full border-4 h-20 w-20">
        {% else %}
        <img src="../static/assets/images/placeholder.png" class="absolute top-8 left-8 rounded-full border-4 h-20 w-20">
        {% endif %}

        {% if current_league is none and current_team.isQueued == false %}
        <div class="text-center items-center row-start-4 lg:col-span-9">
            <a href="/joinQueue?current_team={{ current_team.id }}" class="lg:col-span-8"><button type="submit" class="button">Join Queue</button></a>
            <h1 class="lg:col-span-8 pt-4">Queue: {{ numberInQueue }}/8</h1>
        </div>
        {% endif %}

        {% if current_league is none and current_team.isQueued %}
        <div class="text-center items-center row-start-4 lg:col-span-8">
            <h1 class="lg:col-span-8 lg:items-center">Queue: {{ numberInQueue }} / 8</h1>
            <h1 class="lg:col-span-8 lg:items-center py-4">Your team is in the queue, you will be notified when your league is generated.</h1>
            <a href="/leaveQueue?current_team={{ current_team.id }}" class="lg:col-span-8"><button type="submit" class="button">Leave Queue</button></a>
        </div>
        
        {% endif %}
            {% for user in players %}
            <div class="player-card">
                    <div class="flex justify-between gap-4 items-center">
                        {% if user.profile_image %}
                        <img src="{{ url_for('static', filename='uploads/' + user.profile_image) }}" alt="Profile Image" class="profile-image">
                        {% else %}
                        <img src="../static/assets/images/placeholder.png" alt="Profile Image" class="profile-image">
                        {% endif %}
                        <h1 class="w-48 mr-4 text-3xl">{{ user.username }}</h1>
                        <h3>Goals</h3>
                        {% if user.goals %}
                        <h4>{{ user.goals }}</h4>
                        {% else %}
                        <h4>0</h4>
                        {% endif %}
                        <h3>Saves</h3>
                        {% if user.saves %}
                        <h4>{{ user.saves }}</h4>
                        {% else %}
                        <h4>0</h4>
                        {% endif %}
                        <h3>Assists</h3>
                        {% if user.assists %}
                        <h4>{{ user.assists }}</h4>
                        {% else %}
                        <h4>0</h4>
                        {% endif %}
                    </div>
            </div>
            {% endfor %}

            <div class="team-stat-card">
                <h1  class="text-3xl">{{ current_team.teamName }}</h1>
                <div class="flex justify-evenly">
                <div class="team-stat-row">
                    <h3>Series Record</h3>
                    {% if current_team.seriesWins or current_team.seriesLosses %}
                    <h4>{{ current_team.seriesWins }} - {{ current_team.seriesLosses }}</h4>
                    {% else %}
                    <h4>0 - 0</h4>
                    {% endif %}
                    <h3>Goals</h3>
                    {% if players[0].total_goals or players[1].total_goals %}
                    {% set teamGoals = ((players[0].total_goals + players[1].total_goals) / players[0].games_played) | round(1)  %}
                    <h4>{{ teamGoals }}</h4>
                    {% else %}
                    <h4>0</h4>
                    {% endif %}
                </div>
    
                <div class="team-stat-row">
                    <h3>Match Record</h3>
                    {% if current_team.gameWins or current_team.gameLosses %}
                    <h4>{{ current_team.gameWins }} - {{ current_team.gameLosses }}</h4>
                    {% else %}
                    <h4>0 - 0</h4>
                    {% endif %}
                    <h3>Saves</h3>
                    {% if players[0].total_saves or players[1].total_saves%}
                    {% set teamSaves = ((players[0].total_saves + players[1].total_saves) / players[0].games_played) | round(1)  %}
                    <h4>{{ teamSaves }}</h4>
                    {% else %}
                    <h4>0</h4>
                    {% endif %}
                </div>
            </div>
            </div>

        {% if current_league.isActive and current_league.isPlayoffs == 0 %}
        <a href="/league?team_id={{ team_id }}" class="lg:col-span-8"><button type="submit" class="button">League Page</button></a>
        {% for series_id, match_details in matchups.items() %}
        <h1 class="text-3xl lg:col-span-8">Match {{ match_details['Match_num'] }}</h1>
        <div class="flex w-3/4 justify-between gap-5 lg:col-span-8">
            <h2>{{ match_details['Team0_name'] }}</h2>
            {% if match_details['Team0_wins'] != 0 or match_details['Team1_wins'] != 0 %}
            <h3>{{ match_details['Team0_wins'] }}</h3>
            <h3>{{ match_details['Team1_wins'] }}</h3>
            {% endif %}
            <h2>{{ match_details['Team1_name'] }}</h2>
        </div>
        <div class="teams-card">
            {% if match_details['Team1_banner'] %}
            <img src="{{ url_for('static', filename='uploads/' + match_details['Team1_banner']) }}" class="split-bg float-right"/>
            {% else %}
            <img src="../static/assets/images/bannerBG.png" class="split-bg float-right"/>
            {% endif %}
            {% if match_details['Team0_banner'] %}
            <img src="{{ url_for('static', filename='uploads/' + match_details['Team0_banner']) }}" class="split-bg"/>
            {% else %}
            <img src="../static/assets/images/bannerBG.png" class="split-bg"/>
            {% endif %}
        </div>

            <a href ="/match?current_league={{ current_league.id }}&series_id={{ series_id }}&team_id={{ team_id }}" class="lg:col-span-8"><button type="submit" class="button">Match Page</button></a>
        {% endfor %}
        {% endif %}

        {% if current_league.isPlayoffs %}
        <a href="/league?team_id={{ team_id }}" class="lg:col-span-8"><button type="submit" class="button">League Page</button></a>
        
        <h1 class="lg:col-span-8 lg:items-center">It's playoff time!</h1>
        
        {% if playoffSeries %}
            <h1 class="text-3xl lg:col-span-8">{{ round_name }}</h1>
            <div class="flex w-3/4 justify-between gap-5 lg:col-span-8">
                <h2>{{ playoffSeries['Team0_name'] }}</h2>
                <h2>{{ playoffSeries['Team1_name'] }}</h2>
            </div>
            <div class="teams-card">
                {% if playoffSeries['Team1_banner'] %}
                <img src="{{ url_for('static', filename='uploads/' + playoffSeries['Team1_banner']) }}" class="split-bg float-right"/>
                {% else %}
                <img src="../static/assets/images/bannerBG.png" class="split-bg float-right"/>
                {% endif %}
                {% if playoffSeries['Team0_banner'] %}
                <img src="{{ url_for('static', filename='uploads/' + playoffSeries['Team0_banner']) }}" class="split-bg"/>
                {% else %}
                <img src="../static/assets/images/bannerBG.png" class="split-bg"/>
                {% endif %}
            </div>
        {% else %}
        <p class="pb-8 text-3xl lg:col-span-8">You have a round one <b>BYE</b>.</p>
        <i class="pb-8 text-3xl lg:col-span-8">Please wait for round one scores to be submitted.</i>
        {% endif %}

        <div class="flex gap-8 lg:col-span-8">
            {% if playoffSeries %}
            <a href ="/match?current_league={{ current_league.id }}&series_id={{ playoffSeries['Series_id'] }}&team_id={{ team_id }}" class="lg:col-span-8"><button type="submit" class="button">Match Page</button></a>
            {% endif %}
            <a href="/bracket?league_id={{ current_league.id }}" class="lg:col-span-8"><button type="submit" class="button">View Bracket</button></a>
        </div>
        {% endif %}
    </div>
{% endblock %}