{% extends "base.html" %} {% block title %} Teams {% endblock %} {% block content %}
<div class="text-3xl grid gap-8 lg:grid-cols-10 justify-items-center lg:text-xl lg:py-36 xl:text-2xl 2xl:text-4x">                
    <h1 class="pt-10 lg:col-span-10"><a href="league.html">League Name</a></h1>
        <h1 class="pt-10 lg:col-span-10"><a href="matches.html">Team Name</a></h1>
            <div class="flex lg:col-span-2 lg:items-center bg-red-400">
                <img src="../../media/placeholder.png" alt="" class="mr-5 h-10 w-10"><!-- User 1 logo-->
                <h2><a href="matches.html">Username 1 (captain)</a></h2>
            </div>
            
            <div class="flex lg:col-span-2 lg:items-center bg-blue-400">
                <img src="../../media/placeholder.png" alt="" class="mr-5 h-10 w-10"><!-- User 2 logo-->
                <h2><a href="userprofile.html">Username 2</a></h2>
            </div>      

            <div class="flex lg:col-span-2 lg:items-center bg-green-400">
                <img src="../../media/placeholder.png" alt="" class="mr-5 h-10 w-10"><!-- Users 3 logo-->
                <h2><a href="matches.html">Username 3</a></h2>
            </div>      

            <div class="flex lg:col-span-2 lg:items-center bg-yellow-400">
                <img src="../../media/placeholder.png" alt="" class="mr-5 h-10 w-10"><!-- Users 4 logo-->
                <h2><a href="matches.html">Username 4</a></h2>
            </div>      

            <div class="flex lg:col-span-2 lg:items-center bg-purple-400">
                <img src="../../media/placeholder.png" alt="" class="mr-5 h-10 w-10"><!-- Users 5 logo-->
                <h2><a href="matches.html">Username 5</a></h2>
            </div>         
</div>
{% endblock %}